<!-- About Section -->
    <section id="content" class="bg-light-gray">
        <div class="container">
            <div class="row">

            
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Historical Accuracy</h2>
                    <h3 class="section-subheading text-muted"><p>Here you will find a list of the movies depicted on this website and the trends of the importance of historical accuracy in World War II films.</p><p>The most accurate movies were produced during the early to mid Cold War era(with exception to Band of Brothers)where as the least accurate movies have been more recent movies.
                    </p>

                    </h3>
                   
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                           
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://s3.amazonaws.com/combat-aces/tld1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                      
                                    <h4>Very Accurate</h4>
                                 
                                </div>
                                <div class="timeline-body">
                                        <% accurate_movies = @accurate_hash["very_accurate"] %>
                                        <% accurate_movies.each do |movie| %>
                                        <div>
                                            <%=movie.name%> ( <%=movie.year%> )
                                        </div>
                                        <% end %>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://s3.amazonaws.com/combat-aces/bob1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                        
                                    <h4>Accurate</h4>
                                   
                                </div>
                               <div class="timeline-body">
                                         <% accurate_movies = @accurate_hash["accurate"] %>
                                        <% accurate_movies.each do |movie| %>
                                        <div>
                                            <%=movie.name%> ( <%=movie.year%> )
                                        </div>
                                        <% end %>                                 
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                 <img class="img-circle img-responsive" src="https://s3.amazonaws.com/combat-aces/spr1.jpg" alt="">>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                
                                    <h4>Modest Accuracy</h4>
                                </div>
                                <div class="timeline-body">
                                 
                                          <% accurate_movies = @accurate_hash["medium_accurate"] %>
                                        <% accurate_movies.each do |movie| %>
                                        <div>
                                            <%=movie.name%> ( <%=movie.year%> )
                                        </div>
                                        <% end %>
                              
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://s3.amazonaws.com/combat-aces/ttsot1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pure Fiction</h4>
                                    
                                </div>
                                <div class="timeline-body">
                              
                                        <% accurate_movies = @accurate_hash["fiction"] %>
                                        <% accurate_movies.each do |movie| %>
                                        <div>
                                            <%=movie.name%> ( <%=movie.year%> )
                                        </div>
                                        <% end %>
                           
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
             </div>   


            
             
       
        </div>
    </section>


        <section id="size" class="bg-light-gray">
        <div class="container">
            <div class="row">

            
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Large versus Small casts</h2>
                    <h3 class="section-subheading text-muted"><p>Under Construction
                    </p>

                    </h3>
                    <h5>More Info Coming Soon</h5>
                </div>
            </div>


            
             
       
        </div>
    </section>